{erl_opts, [warnings_as_errors, debug_info, {parse_transform, lager_transform}]}.
{deps, [
        {time_compat, {git, "git://github.com/lasp-lang/time_compat.git", "master"}},
        {erlang_rand_compat, {git, "git://github.com/tuncer/erlang-rand-compat.git", "master"}},
        {lager, {git, "git://github.com/basho/lager.git", {tag, "3.2.1"}}},
        {riak_dt, {git, "git://github.com/basho/riak_dt.git", {tag, "2.1.0"}}},
        {eleveldb, {git, "git://github.com/erlio/eleveldb.git", "develop"}},
        %% adding edown at the above 'sext' to be able to build on Erlang >= 18
        {edown, {git, "git://github.com/uwiger/edown.git", {tag, "0.7"}}},
        {sext, {git, "git://github.com/uwiger/sext.git", {tag, "1.3"}}},
        {gen_server2, {git, "http://github.com/erlio/gen_server2.git", "master"}}
       ]}.
{overrides, [{override, sext, [{src_dirs, ["src"]}]}]}.

{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, eunit, syntax_tools, compiler, crypto]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{deps_dir, "_build/default/lib"}.
